{% extends "base.html" %}
{% block content %}
    <h1>Register</h1>
    <form action="/register" method="post">
        {{form.hidden_tag()}}
        <label for="username">{{form.username.label}}</label>
        <p>
            {{form.username(class='form-control')}}
        </p>
        <label for="username">{{form.email.label}}</label>
        <p>
            {{form.email(class='form-control')}}
        </p>

        <label for="username">{{form.password.label}}</label>
        <p>
            {{form.password(class='form-control')}}
        </p>

        <label for="username">{{form.password2.label}}</label>
        <p>
            {{form.password2(class='form-control')}}
        </p>

        <p>
            {{form.submit}}
        </p>
    </form>
    
{% endblock %}    
